body {
img {
  width:750xpx
  border: black 50px dotted;
}

body {
 background-color: grey; 
}
h1{
  color: white;
  text-decoration: underline overline;
    text-shadow: 0 0 13px black;
}
h2:hober{
  text-shadow: 0 0 13px black
}

}
